.nav-panel {
    display: flex;
}

.nav-preview-container:hover {
    background: black;
    transition: 1s;
    cursor: pointer;
}

.nav-preview-container {
    width: 20rem;
}

.nav-preview-img {
    width: 100%;
}

.nav-panel h4 {
    border-radius: 3px;
    padding: .75rem;
    background: hotpink;
    color: white;
}

@media(min-width:400px){

    .nav-preview-container {
        width: 30rem;
    }
}

@media(min-width:600px){

    .nav-preview-container {
        width: 35rem;
    }
}